<nav class="navbar navbar-custom navbar-expand-lg">
    <div class="container-fluid">
		<a class="navbar-brand text-white" href="#">
			<!-- <img src='team-finder-logo.png' width="200" height="267" alt="TeamFinder"> -->
			<b>Team</b>Finder
		</a>
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active text-white" aria-current="page" href="#">Home</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle text-white" href="#" role="button"
						data-bs-toggle="dropdown" aria-expanded="false">
						Admin Panel
					</a>
					<ul class="dropdown-menu navbar-custom">
						<li>
							<a class="dropdown-item text-white" [routerLink]="['/admin/activities']">Activities</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
    </div>
</nav>