<nav class="navbar navbar-custom navbar-expand-lg">
    <div class="container-fluid">
		<a class="navbar-brand text-white" href="#">
			<!-- <img src='team-finder-logo.png' width="200" height="267" alt="TeamFinder"> -->
			<b>Team</b>Finder
		</a>
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active text-white" aria-current="page" href="#">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active text-white" aria-current="page" routerLink="/activities">Activities</a>
				</li>
				<ng-container>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle text-white" role="button"
							data-bs-toggle="dropdown" aria-expanded="false">
							Explore activities
						</a>
						<ul class="dropdown-menu navbar-custom">
							<li>
								<a class="dropdown-item text-white" [routerLink]="['/activites']">My teams</a>
								<a class="dropdown-item text-white" [routerLink]="['/my-team-requests']">Team applications</a>
								<a class="dropdown-item text-white" [routerLink]="['/my-applications']">Organizer applications</a>
							</li>
						</ul>
					</li>
				</ng-container>
				<li class="nav-item">
					<a class="nav-link active text-white" aria-current="page" routerLink="/teams">Looking For Group?</a>
				</li>
				<ng-container *ngIf="user !== undefined">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle text-white" role="button"
							data-bs-toggle="dropdown" aria-expanded="false">
							My applications
						</a>
						<ul class="dropdown-menu navbar-custom">
							<li>
								<a class="dropdown-item text-white" [routerLink]="['/my-teams']">My teams</a>
								<a class="dropdown-item text-white" [routerLink]="['/my-team-requests']">Team applications</a>
								<a class="dropdown-item text-white" [routerLink]="['/my-applications']">Organizer applications</a>
							</li>
						</ul>
					</li>
				</ng-container>
				<li *ngIf="user != undefined && !user?.roles?.includes('Organizer')" class="nav-item">
					<a class="nav-link active text-white" aria-current="page" routerLink="/apply-organizer">Become an Organizer</a>
				</li>
				<ng-container *ngIf="user !== undefined && user?.roles?.includes('Admin')">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle text-white" role="button"
							data-bs-toggle="dropdown" aria-expanded="false">
							Admin Panel
						</a>
						<ul class="dropdown-menu navbar-custom">
							<li>
								<a class="dropdown-item text-white" [routerLink]="['/admin/users']">Users</a>
								<a class="dropdown-item text-white" [routerLink]="['/admin/categories']">Categories</a>
								<a class="dropdown-item text-white" [routerLink]="['/admin/activities']">Activities</a>
								<a class="dropdown-item text-white" [routerLink]="['/admin/updates']">Updates</a>
								<a class="dropdown-item text-white" [routerLink]="['/admin/applications-review']">Review Organizer Applications</a>
							</li>
						</ul>
					</li>
				</ng-container>
			</ul>

			<div class="d-flex">
				<ng-container *ngIf="user === undefined;else showLogout">
					<a [routerLink]="['/register']" class="btn btn-primary me-3">Register</a>
					<a [routerLink]="['/login']" class="btn btn-primary">Login</a>
				</ng-container>
				<ng-template #showLogout>
					<div class="d-flex align-items-center">
						<span class="text-white"> <a style="color: white; text-decoration: none;" [routerLink]="['/user', user?.id]"> {{user?.email}}</a></span>
						<button class="btn btn-primary ms-3" (click)="onLogout()">Logout</button>
					</div>
				</ng-template>
			</div>
		</div>
    </div>
</nav>