<div class="container mt-5">
    <ng-container *ngIf="teams$ | async as teams">
        <nav *ngIf="teams.length != 0" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="/activities">Activities</a></li>
              <li class="breadcrumb-item"><a [routerLink]="['/activities/get', teams[0].activityRegistered.id]">{{teams[0].activityRegistered.title}}</a></li>
              <li class="breadcrumb-item active" aria-current="page">Teams</li>
            </ol>
        </nav>
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2>Teams registered for activity</h2>
        </div>
        <div *ngFor="let team of teams" class="mb-3">
            <div class="card border-0 shadow-sm custom-card" [routerLink]="['/team/view', team.id]">
                <div class="card-body">
                    <h3 class="card-title text-primary">{{team.name}}</h3>
                    <p class="card-text">{{team.description}}</p>
                    <div class="d-flex align-items-center gap-3">
                        <p class="card-text m-0">
                            <i class="bi bi-pencil-square"> </i>
                            <a class="subtle-link ms-1" [routerLink]="['/user', team.teamCaptainId]">{{ getCaptainName(team.members, team.teamCaptainId) }}</a>
                        </p>
                        <p class="card-text m-0">
                            <i class="bi bi-people-fill text-secondary"></i> 
                            {{team.members.length || 'N/A'}}
                        </p>
                        <!-- <p class="card-text m-0">
                            <i class="bi bi-calendar-range-fill text-secondary"></i> 
                            <small class="text-muted"> {{activity.startDate | date:'shortDate'}} - {{activity.endDate | date:'shortDate'}}</small>
                        </p> -->
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>