<div class="container mt-5">

    <div class = "activity-header">
        <h1>Activities</h1>
        <a class="btn btn-primary create-activity-btn" [routerLink]="['/activities/add']" role="button">Create new activity</a>
    </div>

    <ng-container *ngIf="activities$ | async as activities">
        <div *ngFor="let activity of activities" class="container custom-card-container">
            <div class="card mb-3 custom-card">
                <div class="card-body">
                    <h5 class="card-title">{{activity.title}}</h5>
                    <p class="card-text">{{activity.shortDescription}}</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </ng-container>
    
</div>